<p>

  <mat-toolbar color="primary" class="menu">
    <a href="http://localhost:4200/home"><span>Serviço Social</span></a>
      <span class="example-spacer"></span>

      <a href="http://localhost:4200/cadastra"><button mat-icon-button class="icon" aria-label="Example icon-button with heart icon" >
      <mat-icon>person_add</mat-icon>
    </button></a>

    <a href="http://localhost:4200/atualiza"><button mat-icon-button class="icon" aria-label="Example icon-button with share icon">
      <mat-icon>edit</mat-icon>
    </button></a>

    <a href="http://localhost:4200/visualiza"><button mat-icon-button class="icon" aria-label="Example icon-button with share icon">
      <mat-icon>supervisor_account</mat-icon>
    </button></a>
  </mat-toolbar>

</p>

<router-outlet></router-outlet>
