.main{
  margin-top: -10%;
}
.bemvindo{
  margin-top: 30%;
  margin-left: 17.5%;
  display: block;
  position: fixed;
}
body{
  padding: 0px;
  margin: 0px;
}
p{
  color:aliceblue;
  font-size: 75px;
  font-family:'Times New Roman', Times, serif
}
