<div class = "main"></div>
<form action="/atualiza" method="put">
<div class = "update">

  <p>Atualização de Pessoas</p>

</div>

<div class = "inserir-dados">
  <h1>Insira os dados:</h1>
  <div class = "nome" id = "dados">

    <label for="nome">Nome:</label>
    <input type="text" id="nome" />

  </div>

  <div class = "cpf" id = "dados">

    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" placeholder="Apenas Números" />

  </div>

  <div class = "endereco" id = "dados" >

    <label for="endereco">Endereço:</label>
    <input type="text" id="endereco"/>

  </div>


  <div class = "idade" id = "dados-num" >

    <label for="idade">Idade:</label>
    <input type="text" id="idade"/>

  </div>

  <div class = "telefone" id = "dados-num" >

    <label for="telefone">Telefone:</label>
    <input type="text" id="telefone" placeholder="Apenas Números"/>

  </div>


</div>


<button mat-raised-button color="primary" class = "botao">Atualizar</button>

</form>

